:host {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.cs-table-filter-input-container {
    flex: 1 1 auto;
    display: flex;
}

.cs-table-filter-check-span {
    width: 24px;
    display: inline-flex;
    margin-right: 5px;

    ::ng-deep [dir='rtl'] & {
        margin-left: 5px;
        margin-right: unset;
    }
}

.cs-table-filter-operation-list {
    ::ng-deep .mat-mdc-menu-item-text {
        display: flex;
        align-items: center;
    }
}

.cs-table-filter-trigger {
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: flex;

    opacity: 0;
    transform: translateY(-5px);
    width: 0;
    transition-duration: 0.2s;
    transition-property: opacity, transform, width;

    :host.cs-table-filtered & {
        color: rgba(0, 0, 0, 0.54);
    }

    :host:hover &,
    :host.cs-table-trigger-shown & {
        opacity: 1;
        width: auto;
        margin-left: 4px;
        transform: translateY(-1px);

        ::ng-deep [dir='rtl'] & {
            margin-left: unset;
            margin-right: 4px;
        }
    }
}