@use './table-responsive.scss';
@use '@angular/material/checkbox/checkbox-common';

$row-horizontal-padding: 12px;
$cell-horizontal-padding: 8px;

@mixin table-checkBox-element() {
    padding-top: 0;
    padding-bottom: 0;
    justify-content: center;
    align-items: center;
    --mdc-checkbox-state-layer-size: 18px;

    @include checkbox-common.checkbox-structure(false);
    @include checkbox-common.checkbox-noop-animations;
}

@mixin table-flex-grid() {
    &.cs-table-grid {
        display: grid;
        --cs-table-grid-column-sizes: var(--cs-table-grid-column-responsive-sizes, var(--cs-table-grid-column-resizable-sizes, auto));
        grid-template-columns: var(--cs-table-grid-column-sizes, auto);
        grid-auto-rows: min-content;

        .cs-table-scrollable-viewport {
            grid-column: 1 / -1;
        }

        .cs-table-scrollable-content-wrapper {
            display: grid;
            grid-template-columns: var(--cs-table-grid-column-sizes, auto);
        }

        mat-header-row,
        mat-footer-row,
        mat-filter-row,
        mat-row {
            display: grid;
            grid-template-columns: subgrid;
            grid-column: 1 / -1;
        }
    }

    &:not(.cs-table-grid) {
        display: flex;
        flex-direction: column;

        mat-header-row,
        mat-footer-row,
        mat-filter-row,
        mat-row {
            display: flex;
        }
    }
}

@mixin table-sticky-footer-fixer() {
    .cs-table-sticky-footer-fixer {
        display: none;
    }

    &:has(.cdk-footer-row.mat-mdc-table-sticky) {
        >.cs-table-sticky-footer-fixer {
            flex: 1 1 auto;
            display: block;
        }
    }
}

@mixin table-virtual-scroll() {
    &.cs-fixed-size-virtual-scroll-table {
        overflow: auto;

        .mat-mdc-row,
        cdk-row,
        mat-row {
            min-height: unset;
            box-sizing: border-box;
            height: var(--cs-table-row-height, unset) !important;
        }
    }

    .cs-table-scrollable-content-wrapper,
    .cs-table-scrollable-viewport {
        background-color: inherit;
        color: inherit;
    }

    .cs-table-scrollable-content-wrapper {
        right: 0;
        contain: none;
    }
}

@mixin table-features() {
    &.cs-table-keyboard-navigation {

        .mat-mdc-row,
        cdk-row,
        mat-row {
            scroll-margin-bottom: var(--cs-table-sticky-bottom, unset);
            scroll-margin-top: var(--cs-table-sticky-top, unset);

            &:focus {
                // outline: none !important;
                box-shadow: 0px 0 5px 0px #2196f3;
                outline: none !important;
                transform: scale(1);
                -webkit-transform: scale(1);
                -moz-transform: scale(1);

            }

            .mat-mdc-cell,
            cdk-cell,
            mat-cell {
                box-sizing: border-box;

                &:focus {
                    outline: none;
                    box-shadow: inset 0 0 0 1px #2196f3;
                }
            }
        }
    }

    &.cs-table-selectable {

        .mat-mdc-row,
        cdk-row,
        mat-row {

            &.cs-table-row-selected,
            &.cs-table-row-selected:hover {
                outline: none !important;
                transform: scale(1);
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                box-shadow: 0px 0px 5px #f7d304e7;
                -webkit-box-shadow: 0px 0px 5px #f7d304e7;
                -moz-box-shadow: 0px 0px 5px #f7d304e7;
                background-color: #0d64b6 !important;
                color: white !important;

                // -webkit-text-fill-color: aliceblue
                .mat-mdc-cell,
                cdk-cell,
                mat-cell {
                    &:focus {
                        box-shadow: inset 0 0 0 1px white;
                    }
                }
            }
        }
    }

    &.cs-table-resizing,
    &.cdk-drop-list-dragging {
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &.cs-table-resizing {
        cursor: col-resize;
    }

    &:not(.cdk-drop-list-dragging) {

        .mat-mdc-header-cell,
        mat-header-cell,
        cdk-header-cell {
            &.cs-table-column-resizable {
                position: relative;
            }

            .resize-holder {
                cursor: col-resize;
                width: 20px;
                height: 100%;
                position: absolute;
                right: -10px;
                top: 0;
                z-index: 1;

                [dir='rtl'] & {
                    right: unset;
                    left: -10px;
                }

            }
        }
    }

    &.cdk-drop-list-dragging {
        cursor: move;

        .cdk-footer-cell,
        .cdk-cell,
        .cdk-header-cell:not(.cdk-drag-placeholder) {
            transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
        }

        .cdk-header-cell {
            &.cdk-drag-placeholder {
                border: 3px dashed gray;
                box-sizing: border-box;
                opacity: 0.4;
            }
        }
    }

    .cdk-drag-disabled {
        //cursor: not-allowed;
        user-select: none;
    }
}

@mixin table-filter() {

    .mat-filter-row,
    .cdk-filter-row,
    mat-filter-row,
    cdk-filter-row {
        min-height: 40px;
        border-width: 0;
        border-bottom-width: 1px;
        border-style: solid;
        align-items: center;
        box-sizing: border-box;
        border-bottom: none;
        background-color: white;

        .mat-filter-cell,
        .cdk-filter-cell,
        mat-filter-cell,
        cdk-filter-cell {
            flex: 1;
            display: flex;
            align-items: center;
            overflow: hidden;
            word-wrap: break-word;
            min-height: inherit;
            align-self: stretch;
        }

        .cs-table-cell-filter-element {
            display: flex;
            flex: 1 1 auto;
            border: 0.5px solid lightgray;
            padding: 6.25px 5px;
            box-sizing: border-box;

            .cs-table-filter-inner-input {
                flex: 1 1 auto;
                outline: none;
                width: 0;
                border: none;
            }

            &.cs-table-filter-date {
                //border: 0.5px solid lightgray;
                background-color: field;
                padding: 0 5px;
            }
        }
    }

    .cs-table-filter-wrapper {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;


        .cs-table-filter-input-container {
            flex: 1 1 auto;
            display: flex;
            background-color: field;
        }

        .cs-table-filter-trigger {
            color: rgba(0, 0, 0, 0.3);
            cursor: pointer;
            display: flex;

            opacity: 0;
            transform: translateY(-5px);
            transition: opacity 0.2s, transform 0.2s, width 0.2s;
        }

        &.cs-table-filtered {
            .cs-table-filter-trigger {
                color: rgba(0, 0, 0, 0.54);
            }
        }
    }

    .cs-table-filter-wrapper:not(:has(.mat-datepicker-toggle-active)) {
        .cs-table-filter-trigger {
            width: 0;
        }
    }

    &:not(.cs-table-resizing):not(.cdk-drop-list-dragging) .cs-table-filter-wrapper:hover,
    .cs-table-filter-wrapper:has(.mat-datepicker-toggle-active),
    .cs-table-filter-wrapper.cs-table-trigger-shown {
        .cs-table-filter-trigger {
            opacity: 1;
            width: auto;
            margin-left: 4px;
            transform: translateY(-1px);

            [dir='rtl'] & {
                margin-left: unset;
                margin-right: 4px;
            }
        }
    }
}

@mixin table-special-column() {
    padding-left: 0 !important;
    padding-right: 0 !important;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

@mixin table-icon-dimentions() {
    box-sizing: border-box;
    height: var(--cs-table-icon-column-icon-size) !important;
    width: var(--cs-table-icon-column-icon-size) !important;
}

@mixin table-cell() {

    .mdc-data-table__cell,
    .mdc-data-table__header-cell {
        padding-left: $cell-horizontal-padding;
        padding-right: $cell-horizontal-padding;
    }

    .mat-mdc-header-cell,
    .mat-mdc-cell,
    .mat-mdc-footer-cell,
    .mat-filter-cell,
    mat-cell,
    mat-filter-cell,
    mat-header-cell,
    mat-footer-cell {

        border-right: var(--cs-table-current-cell-resizing-cell-border, var(--cs-table-inner-vertical-border));

        [dir='rtl'] & {
            border-right: unset;
            border-left: var(--cs-table-current-cell-resizing-cell-border, var(--cs-table-inner-vertical-border));
        }

        .cs-table-cell-text {
            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .mat-mdc-cell,
    mat-cell {
        &.cs-table-selector-cell {
            @include table-checkBox-element();
        }

        &.cs-table-editable-cell {

            .cs-table-cell-editor-element {
                display: inline-flex;
                width: 100%;
                box-sizing: border-box;
                align-self: stretch;
                padding: 2.5px 0;

                .cs-table-editor-inner-input {
                    width: 100%;
                    caret-color: var(--mdc-theme-primary, #3f51b5);
                    appearance: none;
                    outline: none;
                    border: none;

                    &::selection {
                        background: #ffb7b7;
                    }

                    &::-moz-selection {
                        background: #ffb7b7;
                    }
                }

                &.cs-table-editor-checkbox {
                    @include table-checkBox-element();
                }
            }
        }

        &.cs-table-editable-cell-editing {
            --mat-datepicker-toggle-icon-color: currentColor;
            --mat-datepicker-toggle-active-state-icon-color: currentColor;
            outline: none;
            box-shadow: inset 0 0 0 1px #2196f3;
        }

    }
}


.mat-mdc-table,
cdk-table,
mat-table {
    box-sizing: border-box;
    --cs-table-icon-column-icon-size: min(calc(var(--cs-table-row-height, 32px) / 1.3), 36px);
    @include table-flex-grid();
    @include table-sticky-footer-fixer();
    @include table-virtual-scroll();
    @include table-features();
    @include table-filter();
    @include table-cell();


    .mdc-text-field__input {
        height: auto !important;
    }

    .mat-mdc-icon-button {
        color: unset;
    }

    .no-data-row {
        flex: 1 1 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }



    // cdk-header-cell,
    // mat-header-cell {
    //     .table-header-menu-span {
    //         position: absolute;
    //         width: 25px;
    //         height: 25px;
    //         right: 5px;
    //         background-color: red;

    //         [dir='rtl'] & {
    //             right: unset;
    //             left: 5px;
    //         }
    //     }
    // }

    .cdk-column-select-column {
        @include table-special-column();
    }

    .cdk-column-row-no-column {
        @include table-special-column();
        font-weight: 500;
    }

    .cdk-column-icon-column {
        @include table-special-column();

        .cs-table-icon-column-icon {
            font-size: var(--cs-table-icon-column-icon-size) !important;
            @include table-icon-dimentions();
        }

        .cs-table-icon-column-avatar {
            border-radius: 50%;
            background-color: transparent;

            @include table-icon-dimentions();
        }
    }

    &.cs-table-responsive {
        @include table-responsive.apply();
    }

}


.cs-column-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    align-items: center;
    min-width: unset;
    font-weight: bold !important;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cs-table {
    overflow: auto;
    box-sizing: border-box;
}

.cs-mat-table {
    width: 100%;
    height: 100%;

    &.cs-table-form-input-disabled {
        pointer-events: none;
        user-select: none;
        cursor: default;
        opacity: .7;

        .mat-datepicker-toggle {
            pointer-events: none !important;
            user-select: none;
            cursor: default;
        }
    }
}

.cs-table-filter-check-span {
    width: 24px;
    display: inline-flex;
    margin-right: 5px;

    [dir='rtl'] & {
        margin-left: 5px;
        margin-right: unset;
    }
}

.cs-table-filter-operation-list {
    .mat-mdc-menu-item-text {
        display: flex;
        align-items: center;
    }
}

.cs-table-tree-node-body {
    display: flex;
    flex: 1 1 auto;
    outline: none;
    align-items: center;
    background-color: var(--cs-tree-node-background-color, transparent);
    border-radius: var(--cs-tree-node-border-radius, var(--mat-sys-corner-medium));

    .cs-table-tree-expand-arrow {
        display: inline-block;
        opacity: .7;
        cursor: pointer;
        transition: transform 0.3s ease;

        [dir='rtl'] & {
            transform: rotate(180deg);
        }

        &:hover {
            opacity: 1;
        }

        &.cs-tree-expand-arrow-isExpanded {
            transform: rotate(90deg);
            opacity: 1;
        }
    }

    .cs-table-tree-arrow-container {
        min-width: 25px;
        min-height: 100%;
        display: flex;
        align-items: center;
        outline: none;
    }


    .cs-table-tree-node-text {
        flex: 1 1 auto;
        // height: 40px;
        display: flex;
        align-items: center;
        padding: 0 5px;
        user-select: none;
    }

    }